.blue-to-red {
		color: blue;
		font-size: xx-large;
		position: relative;
		animation-name: blue-to-red;
		animation-duration: 5s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
}

@keyframes blue-to-red {
  from { left: 0px; color: blue}
  to { left: 400px; color: red}
}
